<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>font</key>
	<dict>
		<key>title_font1</key>
		<integer>30</integer>
		<key>title_font2</key>
		<integer>25</integer>
		<key>title_font3</key>
		<string>30</string>
	</dict>
	<key>image</key>
	<dict>
		<key>car</key>
		<string>car2</string>
	</dict>
	<key>color</key>
	<dict>
		<key>backgroundColor</key>
		<string>#000000</string>
		<key>textLabel1</key>
		<string>#ffffff</string>
		<key>textLabel2</key>
		<string>#ffffff</string>
		<key>textLabel3</key>
		<string>#ffffff</string>
	</dict>
</dict>
</plist>
