<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>font</key>
	<dict>
		<key>title_font1</key>
		<integer>17</integer>
		<key>title_font2</key>
		<integer>18</integer>
		<key>title_font3</key>
		<string>20</string>
	</dict>
	<key>image</key>
	<dict>
		<key>car</key>
		<string>car1</string>
	</dict>
	<key>color</key>
	<dict>
		<key>backgroundColor</key>
		<string>#ffffff</string>
		<key>textLabel1</key>
		<string>#272727</string>
		<key>textLabel2</key>
		<string>#666666</string>
		<key>textLabel3</key>
		<string>#999999</string>
	</dict>
</dict>
</plist>
